{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class=' margin-top-bottom row'>
  <div style="background-color: #f6f6f6;" class=' col-sm-6 col-sm-offset-3 text-center text-align-center '> 
  <h1>{% trans "Logiraj se" %}</h1>

  

    <a href="{{ signup_url }}">REGISTRIRAJ</a>
  za {{ site_name }} račun i logiraj se dolje:</p>



 

 
  <p>{% blocktrans %}Ako nemate još računa 
  <a href="{{ signup_url }}">REGISTRIRAJ SE</a> first.{% endblocktrans %}</p>


  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Zaboravljena lozinka?" %}</a>
    <button class="primaryAction btn btn-block btn-primary" type="submit">{% trans "Logiraj se" %} &raquo;</button>
  </form>
  </div>
</div> <!-- row -->
{% endblock %}
