{% load staticfiles %}
{%  load i18n %}

<section class="cid-qTkAaeaxX5" id="footer1-2">

    
 <link rel="icon" href="{% static 'landing/Falcon_email.png'%}">
    

    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="">
                        <img src="{% static 'landing/assets/images/solopng-removebg-preview-121x62.png'%}" alt="TravelDoctors">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    {% trans "Adresa"%}
                </h5>
                <p class="mbr-text">
                      TFT
                     <br>
                    <br>
                    
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    {% trans "Kontakt"%} 
                </h5>
                <p class="mbr-text">

                   {% trans "Email"%}  : zoran.sostaric130@gmail.com
                    <br>Phone: +385 959148558
                    
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                   {% trans "Links"%}  
                </h5>
                <p class="mbr-text">
                    
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 
                    </p>
                </div>
                
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>