{% load staticfiles %}
<script   src="{% static 'landing/assets/web/assets/jquery/jquery.min.js'%}"></script>
  <script async src="{% static 'landing/assets/popper/popper.min.js'%}"></script>
  <script defer src="{% static 'landing/assets/bootstrap/js/bootstrap.min.js'%}"></script>
  <script async src="{% static 'landing/assets/smoothscroll/smooth-scroll.js'%}"></script>
  <script async  src="{% static 'landing/assets/tether/tether.min.js'%}"></script>

  
  <script async src="{% static 'landing/assets/dropdown/js/nav-dropdown.js'%}"></script>
  <script async  src="{% static 'landing/assets/dropdown/js/navbar-dropdown.js'%}"></script>
  <script async  src="{% static 'landing/assets/theme/js/script.js'%}"></script>

  <script async  src="{% static 'landing/assets/touchswipe/jquery.touch-swipe.min.js'%}"></script>
   <script async  src="{% static 'landing/assets/viewportchecker/jquery.viewportchecker.js'%}"></script>





 <script src="{% static 'landing/assets/web/assets/cookies-alert-plugin/cookies-alert-core.js'%}"></script>  
 <script src="{% static 'landing/assets/web/assets/cookies-alert-plugin/cookies-alert-script.js'%}"></script> 
 
  
   
     <script src="{% static 'landing/assets/chatbutton/floating-wpp.js'%}"></script>  
     <script src="{% static 'landing/assets/chatbutton/script.js'%}"></script>
     
       
         <script src="{% static 'landing/assets/parallax/jarallax.min.js'%}"></script>  
         <script src="{% static 'landing/assets/theme/js/script.js'%}"></script>  
         <script src="{% static 'landing/assets/formoid/formoid.min.js'%}"></script> 

         
<script src="{% static 'landing/assets/mbr-tabs/mbr-tabs.js'%}"></script>
  
  
 
  

  
  
 
  